
<script src="scripts/jquery-1.6.2.min.js" type="text/javascript"></script>

<div class="box">

  <div class="box todos">
    <h2 class="box">座位表</h2>
    <form id="tagSearchForm">
      <p>
        <input type="text" id="tagSearchTx" />
        <button onclick="tagSearch();return false;" id="tagSearchBtn">标签搜索</button>
      </p>
    </form>
    <ul>
      <%
      var maxX;
      var minX;
      /*
      if(family && family[0]){
        maxX = family[0].x;
        minX = family[0].x;

        for(var i = 0, len = family.length; i < len; i++) {
          if(family[i].x > maxX)
            maxX = family[i].x;
          if(family[i].x < minX)
            minX = family[i].x;
        }
        minX -= minX % 2;
        maxX += 1 - (maxX % 2);
      }
      else{
        maxX = 11;
        minX = 0;
      }
      */
      maxX = 11;
      minX = 0;

      var i = minX = 0;
      var j;
      var mid;
      %>
      <table class="siteTable">
        <% for(var tableIndex = 0; tableIndex < Math.floor((maxX-minX)/2+1); tableIndex++){ %>
        <tr><td>
            <table class="siteTable1" >
              <% var tempX = i; %>
              <% for(; i < tempX+2 && i <= maxX; i++){ %>
              <tr>
                <% for(j = 0; j < 6; j++){ 
                    var isSited;
                    if(family.length <= 0)
                      isSited = false;
                    else{
                      isSited = false;
                      mid = 0;
                      for(var k = 0; k < family.length; k++){
                        if(i == family[k].x && j == family[k].y){
                          isSited = true;
                          mid = k;
                          break;
                        }
                      }
                    }
                %>
                <td class="site" onclick="getDetail('/detail/<%- i %>/<%- j%>', <%- i %>, <%- j%>)" id="cell<%- i %>_<%- j%>"
                  <% if(isSited){
                    var showName = (family[mid].nickName == null?family[mid].name : family[mid].nickName); 
                  %>
                  style="cursor:pointer" onMouseOver="emphasizedWindows('<%- family[mid].id %>','<%- showName %>', <%- i %>, <%- j %>)"
                  <% } %> 
                >
                  <% if(isSited){ %>
                  <%= showName %>
                  <% ++mid; %>
                  <% } else { %>
                  &nbsp;
                  <% } %>
                </td>
                <% } %>
              </tr>
              <% } %>
            </table>
          </td><td width="40">&nbsp;</td><td>
            <table class="siteTable2">
              <% for(i = tempX; i < tempX+2 && i <= maxX; i++){ %>
              <tr>
                <% for(j = 6; j < 9; j++){ 
                    var isSited;
                    if(family.length <= 0)
                      isSited = false;
                    else{
                      isSited = false;
                      mid = 0;
                      for(var k = 0; k < family.length; k++){
                        if(i == family[k].x && j == family[k].y){
                          isSited = true;
                          mid = k;
                          break;
                        }
                      }
                    }
                %>
                <td class="site" onclick="getDetail('/detail/<%- i %>/<%- j %>', <%- i %>, <%- j%>)" id="cell<%- i %>_<%- j%>"
                  <% if(isSited){
                    var showName = (family[mid].nickName == null?family[mid].name : family[mid].nickName); 
                  %>
                  style="cursor:pointer" onMouseOver="emphasizedWindows('<%- family[mid].id %>', '<%- showName %>', <%- i %>, <%- j %>)"
                  <% } %> 
                >
                  <% if(isSited){ %>
                  <%= showName %>
                  <% ++mid; %>
                  <% } else { %>
                  &nbsp;
                  <% } %>
                </td>
                <% } %>
              </tr>
              <% } %>
            </table>
        </td></tr><tr><td>&nbsp;</td></tr>
        <% } %>
      </table>
    </ul>
  </div>
 
  <script type="text/javascript">
    var person;
    var tags;
    function getDetail(url, i, j){
      $.ajax({ cache: false,
          type: "GET",
          url: url,
          dataType: "json",
          error: function () {
            alert("error: cannot get personal detail!");
          },
          success: function (data) {
            if(data.detail.mid){
              person = data.detail;
              tags = data.tags;
              var string = detail2String();
              //弹出个人详细信息
              detailWindow((data.detail.nickName == null ? data.detail.name : data.detail.nickName), string);
            }
            else{
              person = data.detail;
              person.x = i;
              person.y = j;
              person.nickName = person.name = person.extenNum = person.wangWang = person.cellPhone = person.mail = person.weibo = person.position = person.place = '';
              tags = {};
              var string = editDetailString(true);
              detailWindow('', string);
            }
          }
      });
    }

    function saveDetail(isNew){
      if($("#nickNameTx").val() == '' && $("#nameTx").val() == ''){
        alert("花名和姓名不能都为空");
        return;
      }
      var url = (isNew? '/newDetail' : '/saveDetail');
      $.ajax({  cache:false,
          type: "POST",
          url: url,
          data: {
            nickName: $("#nickNameTx").val(),
            name: $("#nameTx").val(),
            extenNum: $("#extenNumTx").val(),
            wangWang: $("#wangWangTx").val(),
            cellPhone: $("#cellPhoneTx").val(),
            mail: $("#mailTx").val(),
            weibo: $("#weiboTx").val(),
            position: $("#positionTx").val(),
            place: $("#placeTx").val(),
            tagsString: $("#tagTx").val(),
            x: person.x,
            y: person.y
          },
          dataType: "json",
          error:function () {
            alert("error: cannot save personal detail!");
          },
          success:function(data){
            alert("保存成功！");
            $("#msgTitle").click();
            window.location.reload();
          }
      });
    }

    function deleteDetail(){
      if(confirm("真的要删除此人？") == true){
        if($("#nickNameTx").val() == '' && $("#nameTx").val() == ''){
          alert("此人不存在，不能删除");
          return;
        }
        $.ajax({  cache:false,
            type: "POST",
            url: "/deleteDetail",
            data: {
              mid : person.mid
            },
            dataType: "json",
            error:function () {
              alert("error: cannot delete personal detail!");
            },
            success:function(data){
              alert("删除成功!");
              $("#msgTitle").click();
              window.location.reload();
            }
        });
      }
    }


    //返回个人详细信息
    function detail2String(){
      var string = "<div id=\"imageDiv\"><img src=\"images/" + person.mid + ".jpg\" onerror=\"this.src=\'images/default.jpg\'\" /></div>";
      string += "<table id=\"detailTable\">";
      string += "<tr><td>花名：</td><td>" + (person.nickName == null ? '无' : person.nickName) + "</td></tr>";
      string += "<tr><td>名称：</td><td>" + (person.name == null ? '无' : person.name) + "</td></tr>";
      string += "<tr><td>分机号：</td><td>" + (person.extenNum == null ? '无' : person.extenNum) + "</td></tr>";
      string += "<tr><td>旺旺：</td><td>" + (person.wangWang == null ? '无' : 
          "<a href=\"http://amos1.taobao.com/msg.ww?v=2&amp;uid=" + person.wangWang
          + "&amp;site=cntaobao&amp;s=2\" target=\"_blank\" rel=\"nofollow\">" 
          + person.wangWang + "</a>") + "</td></tr>";
      string += "<tr><td>手机：</td><td>" + (person.cellPhone == null ? '无' : person.cellPhone) + "</td></tr>";
      string += "<tr><td>邮箱：</td><td>" + (person.mail == null ? '无' : 
          "<a href=\"mailto:" + person.mail
          + "\" target=\"_blank\" rel=\"nofollow\">" 
          + person.mail + "</a>") + "</td></tr>";
      string += "<tr><td>微博：</td><td>" + (person.weibo == null ? '无' : 
          "<a href=\"" + person.weibo
          + "\" target=\"_blank\" rel=\"nofollow\">" 
          + person.weibo + "</a>") + "</td></tr>";
      string += "<tr><td>职位：</td><td>" + (person.position == null ? '无' : person.position) + "</td></tr>";
      string += "<tr><td>座位：</td><td>" + (person.place == null ? '无' : person.place) + "</td></tr>";
      string += "<tr><td>标签：</td><td>";
      for(var i = 0; i < tags.length; i++){
        string += tags[i].tag;
        if(i != tags.length-1)
          string += ';';
      }
      string += "</td></tr></table>";
      string += "<button class=\"submitBtn\" onclick=\"editDetail()\" >修改</button>";
      string += "<button class=\"submitBtn\" onclick=\"deleteDetail()\">删除此人</button>";

      return string;
    }

    function editDetail(){
      document.getElementById("msgTxt").innerHTML = editDetailString(false);
    }

    function editImage(id){
      if(id != "undefined"){
        var windowLeft = Math.round((window.screen.width-600)/2);
        var windowTop = Math.round((window.screen.height-250)/2);
        window.open('/editImage/' + id, '_blank', 'width=600, height=250, memubar=false, scrollbars=false, left=' + windowLeft + ', top=' + windowTop);
      }
      else{
        alert("当前选择员工未保存，请先保存");
      }
    }

    function tagSearch(){
      if($("#tagSearchTx").val() == ''){
        window.location.reload();
        alert("标签搜索必须输入标签");
        return;
      }
      $.ajax({  cache:false,
          type: "POST",
          url: "/tagSearch",
          data: {
            tag : $("#tagSearchTx").val()
          },
          dataType: "json",
          error:function () {
            alert("error: cannot search tags!");
          },
          success:function(data){
            var result = data.tag;
            for(var i = 0; i < result.length; i++){
              var x = result[i].x;
              var y = result[i].y;
              $("#cell"+x+"_"+y)[0].style.border = "2px solid red";
            }
          }
      });
    }

    function editDetailString(isNew){
      var string = "<form id=\"editDetailForm\" >";
      string += "<div id=\"imageDiv\"><p><img src=\"images/" 
        + person.mid 
        + ".jpg\" onerror=\"this.src=\'images/default.jpg\'\" /></p><p><button id=\"editImageBtn\" onclick=\"editImage(\'" 
        + person.mid
        + "\')\">修改头像</button></p></div>";
      string += "<table id=\"editTable\">";
      string += "<tr><td>花名：</td><td><input type=\"text\" id=\"nickNameTx\" value=\"" 
        + (person.nickName == null ? '无' : person.nickName) + "\" /></td></tr>";
      string += "<tr><td>名称：</td><td><input type=\"text\" id=\"nameTx\" value=\"" 
        + (person.name == null ? '无' : person.name) + "\" /></td></tr>";
      string += "<tr><td>分机号：</td><td><input type=\"text\" id=\"extenNumTx\" value=\"" 
        + (person.extenNum == null ? '无' : person.extenNum) + "\" /></td></tr>";
      string += "<tr><td>旺旺：</td><td><input type=\"text\" id=\"wangWangTx\" value=\""
        + (person.wangWang == null ? '无' : person.wangWang) + "\" /></td></tr>";
      string += "<tr><td>手机：</td><td><input type=\"text\" id=\"cellPhoneTx\" value=\""
        + (person.cellPhone == null ? '无' : person.cellPhone) + "\" /></td></tr>";
      string += "<tr><td>邮箱：</td><td><input type=\"text\" id=\"mailTx\" value=\"" 
        + (person.mail == null ? '无' : person.mail) + "\" /></td></tr>";
      string += "<tr><td>微博：</td><td><input type=\"text\" id=\"weiboTx\" value=\"" 
        + (person.weibo == null ? '无' : person.weibo) + "\" /></td></tr>";
      string += "<tr><td>职位：</td><td><input type=\"text\" id=\"positionTx\" value=\"" 
        + (person.position == null ? '无' : person.position) + "\" /></td></tr>";
      string += "<tr><td>座位：</td><td><input type=\"text\" id=\"placeTx\" value=\"" 
        + (person.place == null ? '无' : person.place) + "\" /></td></tr>";
      var tagsString = "";
      for(var i = 0; i < tags.length; i++){
        tagsString += tags[i].tag;
        if(i != tags.length-1)
          tagsString += ';';
      }
      string += "<tr><td>标签：</td><td><input type=\"text\" id=\"tagTx\" value=\"" 
        + tagsString + "\" /></td></tr></table>";
      string += "<button class=\"saveBtn\" onclick=\"saveDetail("+ isNew +");return false;\" >保存</button>";
      string += "</form>";

      return string;
    }

    function emphasizedWindows(id, name, i, j){
      var ew = document.createElement("div");
      ew.setAttribute('id', 'ewDiv');
      var cell = document.getElementById("cell"+ i + "_" + j);
      ew.style.top = (getTop(cell)-10) + "px";
      ew.style.left = (getLeft(cell)-10) + "px";
      ew.innerHTML = "<table><tr><td><img src=\"images/"
        + id + ".jpg\" onerror=\"this.src=\'images/default.jpg\'\" /></td><td>" + name + "</td></tr></table>";

      document.body.appendChild(ew);
      
      ew.onclick = function(){
        getDetail("/detail/"+i+"/"+j);
      }
      
      ew.onmouseout = function(){
        if(ew.parentNode == document.body)
          document.body.removeChild(ew);
      }
    }
    //获取元素的纵坐标 
    function getTop(e){ 
      var offset = e.offsetTop; 
      if(e.offsetParent != null) 
        offset+=getTop(e.offsetParent); 
      return offset; 
    } 
    //获取元素的横坐标 
    function getLeft(e){ 
      var offset = e.offsetLeft; 
      if(e.offsetParent != null) 
        offset+=getLeft(e.offsetParent); 
      return offset; 
    } 

    function detailWindow(strTitle,strContent){ 
      var msgw,msgh,bordercolor; 
      msgw=400;//提示窗口的宽度 
      msgh=330;//提示窗口的高度 
      titleheight=25; //提示窗口标题高度 
      bordercolor="#336699";//提示窗口的边框颜色 
      titlecolor="#99CCFF";//提示窗口的标题颜色

      var sWidth,sHeight; 
      sWidth=document.body.offsetWidth; 
      sHeight=screen.height*2; 
      var bgObj=document.createElement("div"); 
      bgObj.setAttribute('id','bgDiv'); 
      bgObj.style.position="absolute"; 
      bgObj.style.top="0"; 
      bgObj.style.background="#777"; 
      bgObj.style.filter="progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75"; 
      bgObj.style.opacity="0.6"; 
      bgObj.style.left="0"; 
      bgObj.style.width=sWidth + "px"; 
      bgObj.style.height=sHeight + "px"; 
      bgObj.style.zIndex = "10000"; 
      
      document.body.appendChild(bgObj);

      var msgObj=document.createElement("div"); 
      msgObj.setAttribute("id","msgDiv"); 
      msgObj.setAttribute("align","center"); 
      msgObj.style.background="white"; 
      msgObj.style.border="1px solid " + bordercolor; 
      msgObj.style.position = "absolute"; 
      msgObj.style.left = "50%"; 
      msgObj.style.top = "50%"; 
      msgObj.style.font="16px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif"; 
      msgObj.style.marginLeft = "-225px" ; 
      msgObj.style.marginTop = -75 + document.documentElement.scrollTop+"px"; 
      msgObj.style.width = msgw + "px"; 
      msgObj.style.height =msgh + "px"; 
      msgObj.style.textAlign = "left"; 
      msgObj.style.lineHeight ="25px"; 
      msgObj.style.zIndex = "10001";

      var title=document.createElement("h4"); 
      title.setAttribute("id","msgTitle"); 
      title.setAttribute("align","right"); 
      title.style.margin="0"; 
      title.style.padding="3px"; 
      title.style.background=bordercolor; 
      title.style.filter="progid:DXImageTransform.Microsoft.Alpha(startX=20, startY=20, finishX=100, finishY=100,style=1,opacity=75,finishOpacity=100);"; 
      title.style.opacity="0.75"; 
      title.style.border="1px solid " + bordercolor;
      title.style.height="18px"; 
      title.style.font="16px Verdana, Geneva, Arial, Helvetica, sans-serif"; 
      title.style.color="white"; 
      title.style.cursor="pointer"; 
      title.title = "点击关闭"; 
      title.innerHTML="<table border='0' width='100%'><tr><td align='left'><b>"+ strTitle +"</b></td><td align='right'>关闭</td></tr></table></div>"; 
      title.onclick=function(){ 
        document.body.removeChild(bgObj); 
        document.getElementById("msgDiv").removeChild(title); 
        document.body.removeChild(msgObj); 
      } 
      bgObj.onkeydown = function(e){
        if(e.keyCode == 27){
          document.body.removeChild(bgObj); 
          document.getElementById("msgDiv").removeChild(title); 
          document.body.removeChild(msgObj); 
        }
      }
      document.body.appendChild(msgObj); 
      document.getElementById("msgDiv").appendChild(title); 
      var txt=document.createElement("p"); 
      txt.style.margin="1em 0"; 
      txt.setAttribute("id","msgTxt"); 
      txt.innerHTML=strContent; 
      document.getElementById("msgDiv").appendChild(txt); 
    } 
  </script>



